<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.modelchecker.ModelCheckerPlugin</interfaceClass>
		<implementationClass>org.bimserver.javamodelchecker.JavaModelCheckerPlugin</implementationClass>
		<description>Java Model Checker Plugin</description>
		
	</JavaPlugin>
</PluginDescriptor>